<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


<title>Wrong</title>

<head>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="navbar">
        <a href="#about">Home</a>
        <a href="#predict">Predict</a>
        <a href="#team">Team</a>
        <a href="#contact">Contact Us</a>




    </div>
<center>
    <div class="wrong-file">
        <h4>upload your image</h4>
        <a href="index.html">Click here to reupload</a> 

    </div>

</center>
   
<div class="contact-us">
    <div class="footer ">

        <a href="#facebook" class="fa fa-facebook"></a>
        <a href="#twitter" class="fa fa-twitter"></a>
        <a href="#linkedin" class="fa fa-linkedin"></a>
        <a href="#instagram" class="fa fa-instagram"></a>

    </div>
    <h4>For More Info Follow us</h4>
    <div id="contact">
        <a href="#privacy policty" >privacy policy</a><br>
        <a href="#contactus" >contactus</a>
            </div>
        
</div>




</body>
<script src="https://kit.fontawesome.com/a6761c511f.js" crossorigin="anonymous"></script>

</html>
